body {
  font-family: sans-serif;
  padding:40px;

}

.header {
  display: flex;
  background: #f9fafb;
  padding: 12px 24px;
  letter-spacing: 0.05em;
  font-size: 0.75rem;
  color: #6b7280;
   border: 1px solid #e6e8ec;
   border-top-left-radius:6px;
   border-top-right-radius:6px;

 
}
.header-name {
  flex: 3;
 
}
.header-tittle {
  width:300px;
   color: #6c7280;
}
.header-status {
  width:260px;
   color: #6c7280;
}
.header-status-text {
  margin-left:4px;
}
.header-role {
  width:160px;
}
.header-edit {
  width:22px;

}
.main-page-content{
  border-radius:6px;
  background: #fff;
  box-shadow: 0 1px 1px   1px rgba(0, 0, 0, 0.04);
}

.content {
  display: flex;
  padding: 16px 24px;
  border: 1px solid #e6e8ec;
  align-items:center;
}
.content:last-child {
  border-bottom-left-radius:6px;
  border-bottom-right-radius:6px;
}
.list-item-avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.content-name {
  flex: 3;
   display:flex;
   flex-direction:  column;
   margin-left:16px;
}
.peron-name {
  font-size: .875rem;
  color:#161E2E;

}
.person-mail {
  margin-top:4px;
  color: #6b7280;
  font-size: .875rem;
}
.content-title {
  width:300px;
   color: #6c7280;
    display:flex;
   flex-direction:column;
}
.content-status {
  width:260px;

}
.content-title-postiton {
  font-size: .875rem;
}
.content-title-department {
  margin-top:4px;
   font-size: .875rem;
}
.content-status-active {
  border-radius: 9999px;
  background-color: #def7ec;
  color: #03543f;
  padding:4px   .5rem;
  font-size: .75rem;
  font-weight: 600;
  

}
.content-status-inactive {
  border-radius: 9999px;
    background-color: #fde8e8;
  color: #9b1c1c;
  padding:4px .5rem;

  font-size: .75rem;
  font-weight: 600
}
.content-role {
  width:154px;
   color: #6c7280;
}
.content-role-text {
      font-size: .875rem;
}
.content-edit {
  color: #5850ec
}
a {
  text-decoration:none;
    color: #5850ec
}
.content:nth-child(even) {
background-color: #f9fafb;
}
.header-font {
      font-size: .75rem;
}

